Django==5.0.1
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
pillow==10.2.0
requests==2.31.0
setuptools==69.2.0
whitenoise==6.6.0
xlrd==2.0.1
